.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.dark-green {
  background-color: #28a745;
}

.green {
  background-color: #2E8B57;
}

.yellow {
  background-color: #FFD700;
}

.red {
  background-color: #DC143C;
}
